In [1]:
import pandas as pd

## Cizr CSV Goals
1. Create a cumulative stats profile for each eligible NC State player based on the 17 metrics. Visualize key metric averages for both season and career. Eligible players will have appeared in a minimum of 7 completed matches or have logged over 700 points on film.
    - We just need to group by player here and select what we want. Will have to group by season too for the stats by season. Does the data only contain eligible plays or are we having to filer for that?
2. Create a team leaderboard for each stat to help visualize which players are stronger in each area based on averages in each metric.
    - This will be done in Tableau using the tables we created in step 1. 
3. Create a plus/minus ratio for each player using Bill Jacobsen's Aggressive error margin formula:  
   (Aces + Winners + Forced Errors) - (Double Faults + Unforced Errors)
    - For this we have to look at the `outcome` column and create the metric in side by side with step 1. 
4. Develop a First serve performance rating metric using Craig O’Shannessy's formula of first serve percentage multiplied by the decimal of first serve win percentage.  
   Example: 65% first serve percentage x 0.70 (70% first serve win percentage) = 45.5.
    - Find (% of`firstServeIn`== true) and multiply by (% of `pointWonBy`==NCSU_player when `firstServeIn`== true). We could add this into step 1.
5. Visualize the relationship between key metrics in wins vs losses. Examine the averages for NC State players in sets won vs sets lost for the following stats: Unforced errors, First Serve percentage, Forced errors ,Double faults per second serve.
    - We should probably investigate these a little bit more but we can make these calculations and add them to step one.

In [2]:
df_cizr = pd.read_csv('Data/ncstateSinglesStatReport-5.csv')
df_cizr.head()

C:\Users\Sterling Hayden\AppData\Local\Temp\ipykernel_1668\3661775636.py:1: DtypeWarning: Columns (24,25,26,27) have mixed types. Specify dtype option on import or set low_memory=False.
  df_cizr = pd.read_csv('Data/ncstateSinglesStatReport-5.csv')

,matchId,pointNum,date,matchName,player,player2,opp,opp2,set,setId,...,gameWonBy,endingPlayer,returnInPlay,matchType,setTo,adType,startTime,stopTime,finalScore,matchLink
0,65c1321a3a00009c44c13373,10000,2024-02-03,Maddy Zampardo vs. Lauren Anzalotta,Maddy Zampardo,NaN,Lauren Anzalotta,NaN,1,65c1321a3a00009c44c13373-1,...,0,2,True,Singles,6,NoAd,7836.858399,7850.439207,6-7|6-1|3-6,https://www.cizrtennis.com/userMatches//watch/...
1,65c1321a3a00009c44c13373,10001,2024-02-03,Maddy Zampardo vs. Lauren Anzalotta,Maddy Zampardo,NaN,Lauren Anzalotta,NaN,1,65c1321a3a00009c44c13373-1,...,0,0,True,Singles,6,NoAd,7864.776037,7874.272191,6-7|6-1|3-6,https://www.cizrtennis.com/userMatches//watch/...
2,65c1321a3a00009c44c13373,10002,2024-02-03,Maddy Zampardo vs. Lauren Anzalotta,Maddy Zampardo,NaN,Lauren Anzalotta,NaN,1,65c1321a3a00009c44c13373-1,...,0,0,True,Singles,6,NoAd,7904.037375,7926.357562,6-7|6-1|3-6,https://www.cizrtennis.com/userMatches//watch/...
3,65c1321a3a00009c44c13373,10003,2024-02-03,Maddy Zampardo vs. Lauren Anzalotta,Maddy Zampardo,NaN,Lauren Anzalotta,NaN,1,65c1321a3a00009c44c13373-1,...,0,0,True,Singles,6,NoAd,7952.719534,7962.285928,6-7|6-1|3-6,https://www.cizrtennis.com/userMatches//watch/...
4,65c1321a3a00009c44c13373,10100,2024-02-03,Maddy Zampardo vs. Lauren Anzalotta,Maddy Zampardo,NaN,Lauren Anzalotta,NaN,1,65c1321a3a00009c44c13373-1,...,1,0,True,Singles,6,NoAd,8032.390403,8044.308320,6-7|6-1|3-6,https://www.cizrtennis.com/userMatches//watch/...

## Excel File Goals
6. Using the NC State WTA points excel sheet, visualize NC State women's tennis performance relative to our recruiting competition for the calendar year 2023-24.
    - I don't see anything regarding rankins in the excel file so i'm assuming we would need to see how they are preforming in terms of recruiting from 247 sports or something like that. After identifying the competioion build out a little page on the dashboard that shows the excel stats.  
7. Visualize top 10 WTA performance by team, singles, doubles, and individual players and their respective teams.
    - I'm not seeing a wins column or something like that, maybe points are wins? I feel like we need more than just the points they scored, titles won, ect. Is this something we should ask about?

In [ ]:
df_excel = pd.read_excel('Data/Final2023-24NCAAIWomensTennisWTAPointsSinceNCAAsMay262024.xlsx')
df_excel.head()

,NCAA's May 29 -,Thru 5/26/2024,Titles,Total,WTA Singles Points,WTA Doubles Points,Singles Events,Doubles Events,Total Events,Points Per Event,...,Doubles.7,S Events.7,D Events.7,Total Points.7,Total Events.8,Unnamed: 67,Unnamed: 68,Unnamed: 69,Unnamed: 70,Unnamed: 71
0,1.0,NC State,12.0,3505,1532.0,1973.0,94.0,72.0,166,21.114458,...,37.0,5.0,8.0,37,13,Henderson,1.0,1.0,2.0,1.0
1,2.0,Oklahoma,4.0,1552,89.0,1463.0,43.0,59.0,102,15.215686,...,6.0,1.0,1.0,6,2,NaN,NaN,NaN,NaN,NaN
2,3.0,USC,4.0,750,333.0,417.0,53.0,27.0,80,9.375000,...,0.0,0.0,0.0,0,0,NaN,NaN,NaN,NaN,NaN
3,4.0,Loyola Marymount,1.0,699,193.0,506.0,41.0,26.0,67,10.432836,...,0.0,0.0,0.0,0,0,NaN,NaN,NaN,NaN,NaN
4,5.0,California,5.0,660,208.0,452.0,53.0,34.0,87,7.586207,...,3.0,4.0,3.0,6,7,NaN,NaN,NaN,NaN,NaN